<h2>Admin</h2>
<div>
    <p class="text-success">{{statusMessage}}</p>
    <hr />
    <dl class="dl-horizontal">
        <dt>Whitelist:</dt>
        <dd>
            <a href="/whitelist" class="btn btn-secondary" role="button">Manage Whitelist</a>
        </dd>
        <dt>Export:</dt>
        <dd>
            <a href="/api/export/instruments/{{export_secret}}" class="btn btn-secondary" role="button">All Instruments</a>
            <a href="/api/export/snapshots/19700101/{{export_secret}}" class="btn btn-secondary" role="button">All Snapshots</a>
            <a href="/api/export/log" class="btn btn-secondary" role="button">Log</a>
        </dd>
        <dt>Import All Instruments:</dt>
        <dd>
            <form action="/api/import/instruments/{{import_secret}}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="file" name="file" class="form-control-file"></input>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="delete">
                        Delete all existing instruments
                    </label>
                </div>
                <button type="submit" class="btn btn-danger">Import All Instruments</button>
            </form>
        </dd>
        <dt>Import All Snapshots:</dt>
        <dd>
            <form action="/api/import/snapshots/{{import_secret}}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="file" name="file" class="form-control-file"></input>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="delete">
                        Delete all existing snapshots
                    </label>
                </div>
                <button type="submit" class="btn btn-danger">Import All Snapshots</button>
            </form>
        </dd>
        <dt>Cache:</dt>
        <dd>
            <form action="/api/instruments/update/{{import_secret}}" method="post" enctype="multipart/form-data">
                <button type="submit" class="btn btn-danger">Refresh Default Instruments</button>
            </form>
        </dd>
        <dt>Refresh Rates:</dt>
        <dd>
            <form action="/api/snapshot/refresh" method="post">
                <div class="form-group">
                    <label for="id">Snapshot ID</label>
                    <input type="number" class="form-control" id="id" name="id">
                </div>
                <div class="form-group">
                    <label for="source">Source</label>
                    <select class="form-control" id="source" name="source">
                        <option></option>
                    {{#each sources}}
                        <option>{{source}}</option>
                    {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="market">Market</label>
                    <select class="form-control" id="market" name="market">
                        <option></option>
                    {{#each markets}}
                        <option>{{market}}</option>
                    {{/each}}
                    </select>
                </div>
                <button type="submit" class="btn btn-danger">Refresh Rates</button>
            </form>
        </dd>
    </dl>
</div>
